@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
    --primary-color: #150544;
    --secondary-color: #614EF5;
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
}

.navbar {
    height: 5.625rem;
}

.navbar-collapse {
    background-color: white;
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

.nav-link {
    font-weight: 500;
    font-size: 1.125rem;
    color: #5A6772;
}

.nav-link.active {
    color: var(--primary-color);
}

.btn-custom {
    background-color: var(--primary-color);
    color: white;
}

.container {
    max-width: 64.4rem;
}

.union-top {
    left: 0;
    bottom: 20px;
    min-width: 100%;
    z-index: -2;
}

.union-footer {
    width: 1630px;
    height: 566px;
    left: 0;
    top: 0;
    min-width: 100%;
    z-index: 1;
    transform: rotate(30deg);
}

.container-pricing {
    margin-top: -23rem
}

.container-pricing__relative {
    top: 26.25rem;
}

.pricing__box {
    max-width: 20rem
}

.pricing__content {
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-color);
}

.pricing-footer {
    color: var(--primary-color);
}

.pricing-footer__p {
    font-size: 1rem;
    font-weight: 300;
}

.pricing-footer__a {
    color: var(--primary-color) !important;
    font-size: 1.5rem;
}

.price {
    font-weight: 800;
    font-size: 3.25rem;
    color: var(--primary-color);
}

.term {
    font-weight: 300;
    font-size: 1rem;
    color: var(--primary-color);
}

li {
    list-style-type: none;
}

.btn-custom-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.btn-custom-primary {
    background-color: var(--primary-color);
    color: white;
}

.primary-box {
    border-top: 3.125rem solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);

}

footer {
    background-color: var(--primary-color);
    color: white;
    padding-top: 7.5rem;
    padding-bottom: 4.375rem;
    height: auto;
}

.container-footer {
    z-index: 2;
    max-width: 53rem;
}

.testimony {
    margin-bottom: -950px;
}

@media screen and (min-width: 375px ) {
    .testimony__text {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .testimony:before {
        position: relative;
        top: -67px;
        left: -16px;
        content: "\"";
        color: var(--secondary-color);
        font-style: italic;
        font-size: 12rem;
    }
}

@media screen and (min-width: 768px ) {
    .testimony__text {
        font-size: 2.25rem;
        font-weight: 300;
    }

    .testimony:before {
        position: relative;
        top: -150px;
        content: url("../images/quote.svg");
        color: var(--secondary-color);
        font-style: italic;
    }
}

.box {
    background: #555358;
    border: 8px solid #696773;
    padding: 40px;
    color: white;
    font-size: 20px;
}

.box:before {
    content: '“';
    font-size: 18rem;
    top: -40px;
    left: 20px;
}

.person-name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}

.person-role {
    font-size: 1rem;
    font-weight: 300;
}